<h1 mat-dialog-title>Filter Courses</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Technology</mat-label>
    <input matInput [(ngModel)]="data.technology">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Min Hours</mat-label>
    <input matInput [(ngModel)]="data.minHours">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max Hours</mat-label>
    <input matInput [(ngModel)]="data.maxHours">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>