<div style="display: flex; justify-content: space-evenly;align-items: center; ">
    <h2>Courses List</h2>
</div>

<div style="display:flex; flex-direction :row">
    <input type="text" matInput  id="searchText" class="form-control" placeholder="Search Technology" (keydown.enter)="searchTechnology()" [(ngModel)]="searchInput">
    <button mat-button aria-label="search icon" (click)="searchTechnology()" >
        <mat-icon>search</mat-icon>
        Search
    </button>
    <button mat-button aria-label="search icon" (click)="filterTechnologyWithHours()" >
        <mat-icon>filter_list</mat-icon>
        Filter
    </button>
    
</div>

<div *ngIf="adminFlag">
    <button mat-button mat-raised-button style="float: right;" routerLink="course/add">Add Course</button>
</div>
<div style="display: flex;flex-wrap: wrap;" *ngIf="courseList && courseList.length>0"> 
    <div *ngFor="let course of courseList" style="margin: 2rem;">
        
    <p-card [header]="course.title" subheader="" [style]="{ width: '360px',height:'410px' }">
        <ng-template pTemplate="header" >
            <div  *ngIf="course.technology=='Java'">
                <img alt="Card" src="assets/java.jpg" style="height: 220px;" />
            </div>
            <div  *ngIf="course.technology.includes('Python')">
                <img alt="Card" src="assets/python-img.png" style="height: 220px;" />
            </div>
            <div  *ngIf="course.technology.includes('R')">
                <img alt="Card" src="assets/R-programming.png"  style="height: 220px;"/>
            </div>
            <div  *ngIf="course.technology.includes('test')">
                <img alt="Card" src="assets/testing.jpg" style="height: 220px;" />
            </div>
            <div  *ngIf="course.technology=='Javascript'">
                <img alt="Card" src="assets/javascript.jpg" style="height: 220px;" />
            </div>
            <div  *ngIf="!(course.technology=='Javascript' || course.technology.includes('test') || course.technology.includes('R') || course.technology.includes('Python')|| course.technology=='Java')">
                <img alt="Card" src="assets/classroom.jpg" style="height: 220px;" />
            </div>
           
        </ng-template>
        <p>
            {{course.hours}} hours
        </p>
        <ng-template pTemplate="footer">
            <button mat-button class="cardButton" *ngIf="!adminFlag">Register</button>
            <button mat-button class="cardButton" *ngIf="adminFlag" (click)="deleteCourse(course)">Delete Course</button>
        </ng-template>
    </p-card>

    
</div>
</div>
<div *ngIf="!courseList || (courseList && courseList.length==0)">
    <h4>No Courses Available</h4>
</div>